<template>
    <div>
        <h1>LOGIN</h1><br>
        <input type="text" v-model="form.nombre"><br>
        <input type="password" v-model="form.password"><br>
        <button @click="ingresar">Ingresar</button>
        <span style="color: red">{{error}}</span>
        <span style="color: green">{{response}}</span>
    </div>
</template>

<script>

import axios from 'axios';

export default {
    data() {
        return {
            form: {
                nombre: '',
                password: ''
            },
            response: '',
            error: '',
        }
    },

    methods: {
        async ingresar(){
            try {
                await axios.post('http://localhost:3000/api/createUsers', this.form);
                this.$router.push({ name: 'Usuarios' })
            } catch (error) {
                this.error = error.response.data;
            }
        }
    },
}
</script>