<template>
  <div class="about">
    <h1>Usuarios</h1>
    <div v-for="(usuario, index) in usuarios" :key="index">
      <p>{{usuario.nombre}} - {{usuario.password}}</p><br>
     
    </div>
     <p style="color: red">{{error}}</p>
  </div>
</template>

<script>

import axios from 'axios';

export default {
  data() {
    return {
      usuarios: [],
      error: ''
    }
  },

  methods: {
    async getUsuarios(){
      try {
        const res = await axios.get('http://localhost:3000/api/getUsers');
        this.usuarios = res.data;
      } catch (error) {
        console.error(error.response);
        this.error = error.response.data;
      }
    }
  },

  mounted() {
    this.getUsuarios();
  },
}
</script>
