<template>
    <div>
        <h1>CREAR EDITORIAL</h1><br>
        fecha: <input type="text" v-model="editorial.fecha"><br>
        titulo: <input type="text" v-model="editorial.titulo"><br>
        parrafo: <input type="text" v-model="editorial.parrafo"><br>
        <button @click="crearEditorial">Crear editorial</button>
        <span style="color: red">{{error}}</span>
    </div>
</template>

<script>

import axios from 'axios';
import { mapState } from 'vuex';

export default {
    data() {
        return {
            editorial: {
                fecha: '',
                titulo: '',
                parrafo: '',
                usuariosId: '',
            },
            response: '',
            error: '',
        }
    },

    computed: {
        ...mapState(['usuario']),
    },

    methods: {
        async crearEditorial(){
            try {
                let editorial = this.editorial;
                editorial.usuariosId = this.usuario.id;
                await axios.post('http://localhost:3000/api/createEditoriales', this.editorial);
                this.$router.push({ name: 'Editoriales' })
            } catch (error) {
                this.error = error.response.data;
            }
        }
    },
}
</script>