<template>
  <div class="about">
    <h1>Editoriales</h1>
    <div v-for="(Editoriale, index) in Editoriales" :key="index">
        <p>{{Editoriale.titulo}}</p>
        <p>{{Editoriale.parrafo}}</p>
    </div>
     <p style="color: red">{{error}}</p>
  </div>
</template>

<script>

import axios from 'axios';

export default {
  data() {
    return {
      Editoriales: [],
      error: ''
    }
  },

  methods: {
    async getEditoriales(){
      try {
        const res = await axios.get('http://localhost:3000/api/getEditoriales');
        this.Editoriales = res.data;
      } catch (error) {
        console.error(error.response);
        this.error = error.response.data;
      }
    }
  },

  mounted() {
    this.getEditoriales();
  },
}
</script>
