<template>
    <div>
        <h1>LOGIN</h1><br>
        <input type="text" v-model="form.nombre"><br>
        <input type="password" v-model="form.password"><br>
        <button @click="ingresar">Ingresar</button>
        <span style="color: red">{{error}}</span>
        <span style="color: green">{{response}}</span>
    </div>
</template>

<script>

import axios from 'axios';
import { mapMutations } from 'vuex'

export default {
    data() {
        return {
            form: {
                nombre: '',
                password: ''
            },
            response: '',
            error: '',
        }
    },

    methods: {
        ...mapMutations(['inicioSesion']),
        async ingresar(){
            try {
                const res = await axios.post('http://localhost:3000/api/singIn', this.form);
                this.inicioSesion(res.data);
                this.$router.push({ name: 'Crear editorial' })
            } catch (error) {
                this.error = error.response.data;
            }
        }
    },
}
</script>